header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:1200px;
    margin:80px auto;
    color: $primaryColor;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
letter-spacing: 1px;
    h1 {
        font-family: 'PT Serif', serif;
        font-size: 36px;
        line-height: 48px;
        font-weight: bold;
    }
}
@media screen and (max-width: 1200px){

    header {
        max-width:860px;
    }
}


@media screen and (max-width: 870px){

    header {
        display: flex;
        flex-flow: column;
        width: auto;
        margin:10px 30px 40px 20px;

    }
}